.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 2px solid #3e4c76;
  padding-bottom: 60px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gridContainer {
  padding-top: 60px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
}

@media (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 700px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
