.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #1e2845;
  padding: 30px 15px;
}

.footer {
  width: 100%;
  max-width: 1250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.parrafo {
  color: #bac4e1;
  font-size: 18px;
  line-height: 30px;
}

.socialNetworks {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e4c76;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.socialNetworks:hover {
  background-color: #bac4e1;
  color: #000000;
}

.logo {
  width: 141px;
  height: 25px;
  cursor: pointer;
}

.text {
  font-size: 18px;
  color: #ffffff;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.title {
  font-size: 22px;
  color: #bac4e1;
}

.link {
  font-size: 18px;
  color: #ffffff;
}

.link:hover {
  color: #bac4e1;
}

.icons {
  font-size: 22px;
  color: #bac4e1;
}

@media (max-width: 850px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    gap: 50px;
  }

  .container {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 680px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
